{% extends "rostering/base.html" %}

{% block title %} PyRostering - {{object.first_name}} {{object.last_name}} {% endblock %}

{% block header %}
    <h1>PyRostering</h1>
{% endblock %}

{% block content %}
    <h2>Employee: {{object.first_name}} {{object.last_name}}</h2>
    <!-- Display shifts, if any. Otherwise, shows a message -->
    <h3>List of Assigned Shifts</h3>
    {% if object.shift_set.all %}
        <table border = "1" >
            <thead>
                <tr>
                    <th>Shift ID</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Break Length</th>
                </tr>
            </thead>

            <tbody align="center">
                {% for shift in object.shift_set.all %}
                    <tr>
                        <td> {{shift.id}} </td>
                        <td> {{shift.date}} </td>
                        <td> {{shift.start}} </td>
                        <td> {{shift.end}} </td>
                        <td> {{shift.break_length}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no shifts assigned for {{object.first_name}} {{object.last_name}} yet.</p>
    {% endif %}

    <!-- Link to create a new shift for the current employee -->
    <p><a href="{% url 'shift_new' object.id %}">Create a new shift for {{object.first_name}} {{object.last_name}}</a></p>

{% endblock %} {# block content #}





